@import url(//fonts.googleapis.com/css?family=Rosario);
@import url(//fonts.googleapis.com/css?family=PT+Sans);

html, body {
  padding: 0;
  margin: 0;
}

/* extra */
div.end {
  display: block;
  margin: 30px 0;
  clear: both;
  border: 0 none;
  height: 10px;
  text-align: center;
  background: url("end.png") no-repeat 50% 50%;
}

.container {
  max-width: 720px;
  *width: 720px;
  margin: 0 auto;
  zoom: 1;
}
.container:after {
  content: " ";
  display: block;
  visibility: none;
  clear: both;
}
a {
  color: #323233;
}
a:hover {
  opacity: 0.6;
}

/* layout */
#header {
  font-size: 16px;
  font-family: "Optima", "Avenir", "Helvetica Neue", sans-serif;
  padding: 20px 10px;
}
#brand {
  float: left;
  margin-right: 30px;
  text-transform: uppercase;
}
#brand:before {
  content: '»';
}
#brand a {
  text-decoration: none;
}
#nav {
  float: right;
}
#nav a {
  margin-left: 14px;
}
#nav select {
  margin-top: 8px;
  font-size: 16px;
}
@media (max-width: 480px) {
  #brand a {
    color: rgba(0,0,0,0.8);
  }
  #nav {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

#main {
  padding: 30px 10px;
}

#footer {
  text-align: center;
  padding: 20px;
  max-width: 560px;
  *width: 560px;
  margin: 0 auto 30px;
  text-align: left;
}
#footer a {
  margin: 0;
}
#footer .elsewhere {
  text-align: center;
  margin-bottom: 40px;
}
#footer .elsewhere a {
  margin: 0 10px;
}
#footer .copyright, #footer .system-info {
  margin: 0;
  color: #ccc;
  font-size: 12px;
}
#footer .copyright a {
  color: #bbb;
}

/* article */
.hentry .entry-title {
  font-size: 2em;
  text-align: center;
}
.entry-meta {
  text-align: center;
  margin-top: -20px;
  line-height: 200%;
  font-family: Verdana, sans-serif;
  margin-bottom: 3em;
}
.entry-meta, .entry-meta a, .updated, .updated a , .entry-review {
  color: #a4abb2;
  font-weight: 500;
  font-size: 14px;
}
.entry-tags {
  margin: 20px 0;
}
.entry-tags a {
  margin-right: 10px;
}
.entry-tags a:before {
  content: "#";
}
.entry-item {
  margin: 12px 0;
  zoom: 1;
}
.entry-item a {
  margin: 0.2em 1em;
}
.entry-item .updated {
  font-family: "PT Sans", sans-serif;
}
.entry-item-title {
  margin-top: 24px;
}
.entry-item-title a {
  margin-left: 0;
}

.pagination {
  position: relative;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font: normal 12px "Helvetica", arial, sans-serif;
  color: #9f9f99;
}
.pagination .prev {
  position: absolute;
  top: 0;
  left: 0;
}
.pagination .next {
  position: absolute;
  top: 0;
  right: 0;
}
.tagcloud a {
  display: inline-block;
  margin: .2em .4em;
  opacity: 0.6;
}
.tagcloud a:hover {
  opacity: 1;
}
.tagcloud .count {
  font-size: 12px;
}
#disqus_thread {
  margin-top: 50px;
}
